<% if @accounts.any? %>

  <form class="navbar-form navbar-left" role="search" action='/add_holder' method='post'>
    <div class="form-group">

      ADD:
      <select class='form-control' name='holder_id'>
        <% @holders.each do |holder| %>
          <option value='<%= holder.id %>'> <%= holder.id %>.<%= holder.name %> </option>
        <% end %>
      </select>

      TO:
      <select class='form-control' name='account_id'>
        <% @accounts.each do |account| %>
          <option value='<%= account.id %>'>ID: <%= account.id %> - <%= account.main_holder.name %> - <%= account.type %> Account </option>
        <% end %>
      </select>

    </div>
    <button type="submit" class="btn btn-default">Add Holder</button>
  </form>

<% else %>
  <h3>No Accounts!</h3>
  <a class="btn btn-default" href='/create_account'>Add an Account</a>
<% end %>
