<% if @holders.any? %>

  <form class="navbar-form navbar-left" role="search" action='/create_account' method='post'>
    <div class="form-group">
      <select class='form-control' name='id'>
        <% @holders.each do |holder| %>
          <option value='<%= holder.id %>'> <%= holder.id %>.<%= holder.name %> </option>
        <% end %>
      </select>

      <select class='form-control' name='type'>
        <% @account_types.each do |key, value| %>
          <option value="<%= key %>"><%= key %></option>  
        <% end %>
      </select>
    </div>
    
    <button type="submit" class="btn btn-default">Create</button>
  </form>

<% else %>
  <h4>No Holders Currently Exist</h4>
  <a class="btn btn-default" href='/new_holder'>Add a Holder</a>
<% end %>
